body {
  padding: 0;
  margin: 0;
  background: #f7f5f7;
}
/*--- navigation bar ---*/
.navbar {
  background:#9400D3;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.center {
  margin: auto;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-container {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

