<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>

  <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">


  <!--map stuff-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <link rel="stylesheet" href="../static/map.css">

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

   <!--script codes-->
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity=""
   crossorigin="anonymous"></script>
  <script src="../static/postreq.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
   integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
   crossorigin="anonymous"></script>

</head>
<body>
 <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="./">vote-guide</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
<div class = "container">
    <br>
    <h1>About</h1>
    <p>The goal of this project is to provide a more informative experience for people in North Carolina going to the
        polls this voting season! Just go to the website, find a polling location near you, and see what other people
        have said about how long lines are. Furthermore, you have the opportunity to help out other voters by inputting h
        ow long it took you to make it through the line. </p>

        <p>First, pull up the map to see what early polling sites exist around you. On each one, you can see how long the
        last person took to make it through the voting line and at what time they reported it, so you can be prepared
        before you go to the polls! Once you get to your polling location, make sure to keep track of the time. After
        you leave, just insert the time in minutes it took you to vote and help others just like you stay updated on the lines!</p>

        <p>One last thing, don't forget to vote! Every vote matters and we hope you enjoy our site.</p>

</div>
</body>
</html>