<!DOCTYPE html>
<html xmlns:https="http://www.w3.org/1999/xhtml">

<head><link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<body>

<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">vote-guide</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#report">Check Wait Time</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#report">Report Wait Time</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>vote-guide</h1>
  <p>A guide to how long wait times are at your local polling stations.</p>
    <a href = "index.html#check" type="button" class="btn btn-secondary" style="margin:20px;">Check Wait Time</a>
    <a href = "index.html#report" type="button" class="btn btn-secondary">Report Wait Time</a>
</div>

<div class="container" id = "check">
  <div class="row">
    <h1>Check Wait Time</h1>

  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
  <div class="row">
    <p>Lmao let's check wait time</p>
  </div>
</div>

<div class="container" id = "report">
  <div class="row">
    <h1>Report Wait Time</h1>

  </div>
  <div class="row">
    <p>Report Wait Time here!</p>
  </div>

  <form>
  <div class="form-group">
    <label for="pollingstation">Polling Station</label>
    <input type="text" class="form-control" id="pollingstation" placeholder="Polling Station">
  </div>
  <div class="form-group">
    <label for="waittimeentered">Wait Time in Minutes</label>
    <input type="number" class="form-control" id="waittimeentered" placeholder="Wait Time in Minutes">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>

<div class="container" id = "about">
  <div class="row">
    <h1>About</h1>

  </div>
  <div class="row">
    <p>We are a team of students from MIT, etc etc</p>
  </div>
</div>




</body>
</html>
