<!DOCTYPE html>
<html>

<head>
<title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzgzk2Ghx0PVDucXZ50DAwaZdRuSla7ZM&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel="stylesheet" href="map.css">
</head>

<body>

<h1>{{title}} Voting Site Map</h1>


<div id="map"></div>


<p>shrek!</p>

<p>Please enter nearby voting sites.</p>

</body>
</html>
